# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\skyes\Desktop\SSAFY\GIT\TIL\04_Algorithm\코드트리\메이즈러너\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
