# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\skyes\Desktop\SSAFY\GIT\TIL\04_Algorithm\BOJ\20291_파일정리(구현)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
