# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\skyes\Desktop\SSAFY\GIT\TIL\04_Algorithm\BOJ\삼성SW역량테스트\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
