# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\skyes\Desktop\SSAFY\GIT\TIL\04_Algorithm\BOJ\17825_주사위윷놀이\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
